n8n-workflows/13-relatorio-semanal.json
{
  "name": "13-relatorio-semanal",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 8 * * 1" }] }
      },
      "id": "cron-relatorio",
      "name": "Cron Segunda 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.SAAS_URL }}/api/metrics/weekly",
        "options": {}
      },
      "id": "get-metrics",
      "name": "Buscar M茅tricas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp:generateContent?key={{ $credentials.geminiApi.apiKey }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Voc锚 茅 um analista de marketing digital. Crie um relat贸rio semanal profissional com base nas seguintes m茅tricas:\\n\\n{{ JSON.stringify($json) }}\\n\\nInclua:\\n1. Resumo executivo\\n2. Principais m茅tricas\\n3. Destaques da semana\\n4. Pontos de aten莽茫o\\n5. Recomenda莽玫es\\n\\nUse formata莽茫o clara com emojis relevantes.\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.7,\n    \"maxOutputTokens\": 4096\n  }\n}",
        "options": {}
      },
      "id": "generate-report",
      "name": "Gerar Relat贸rio IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst report = response.candidates?.[0]?.content?.parts?.[0]?.text || 'Erro ao gerar relat贸rio';\nconst weekStart = new Date();\nweekStart.setDate(weekStart.getDate() - 7);\n\nreturn {\n  json: {\n    title: `Relat贸rio Semanal - ${weekStart.toLocaleDateString('pt-BR')} a ${new Date().toLocaleDateString('pt-BR')}`,\n    content: report,\n    generated_at: new Date().toISOString()\n  }\n};"
      },
      "id": "format-report",
      "name": "Formatar Relat贸rio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{ $vars.AGENCY_EMAIL }}",
        "toEmail": "admin@agenciabase.tech",
        "subject": "= {{ $json.title }}",
        "emailType": "html",
        "html": "=<html><body style=\"font-family: Arial, sans-serif; padding: 20px;\"><h1 style=\"color: #f97316;\">{{ $json.title }}</h1><div style=\"white-space: pre-wrap; line-height: 1.6;\">{{ $json.content }}</div><hr><p style=\"color: #666; font-size: 12px;\">Gerado automaticamente por BASE Agency em {{ $json.generated_at }}</p></body></html>"
      },
      "id": "send-email",
      "name": "Enviar por Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1050, 300],
      "credentials": { "smtp": { "id": "smtp-cred", "name": "SMTP Gmail" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SAAS_URL }}/api/reports/save",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "save-report",
      "name": "Salvar no SaaS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Cron Segunda 08:00": { "main": [[{ "node": "Buscar M茅tricas", "type": "main", "index": 0 }]] },
    "Buscar M茅tricas": { "main": [[{ "node": "Gerar Relat贸rio IA", "type": "main", "index": 0 }]] },
    "Gerar Relat贸rio IA": { "main": [[{ "node": "Formatar Relat贸rio", "type": "main", "index": 0 }]] },
    "Formatar Relat贸rio": { "main": [[{ "node": "Enviar por Email", "type": "main", "index": 0 }]] },
    "Enviar por Email": { "main": [[{ "node": "Salvar no SaaS", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": ["relatorio", "ia", "metricas"]
}
